
<% provide(:title, "Home") %>

<% if logged_in? %>


    <div style="margin-top:7em;">
    	<aside class="col-md-4">
    		<section class="user_info">
    			<%= render 'shared/user_info' %>
    		</section> 
    		<section class="micropost_form">
    			<%= render 'shared/micropost_form' %>
    		</section>
    	</aside>



    	<div class="col-md-8">
       <span style="margin-left: 40px;color:#00b19d;"> Filter:
         <%= link_to "All", root_path, :class => "user-button btn btn-primary", :style => "background:#00b19d;color:white;" %>
         <%= link_to "Autocad", autocad_path, :class => "user-button btn btn-primary"%>
         <%= link_to "Revit", revit_path, :class => "user-button btn btn-primary"%>
         <%= link_to "Vectorworks", vectorworks_path, :class => "user-button btn btn-primary"%>

        <div style="display: inline-block;text-align: center;margin-left: 60px; white-space: nowrap;width:12em;">
         <%= form_tag(microposts_path, :method => "get",  :style => "display:inline-block;") do %>
          <%= text_field_tag :search, params[:search], placeholder: "Search..",:style => "display:inline;" %>
          <%= button_tag :type=>"submit", :name => nil, :class => "user-button btn btn-primary", :style => "display:inline;width:40px;height:30px;" do%>
            <i class="glyphicon glyphicon-search"></i>
          <%end%>
         <% end %>
        </div></span>


       <ul class="users" style="margin-top: 2em;margin-bottom: 4em;">


         <% @microposts.each do |micropost| %>
         <li id="micropost-<%= micropost.id %>" style="border:1px solid #00b19d;background: rgba(0, 60, 60, 0.3);margin-bottom: 3px;">
          <span class="user" style="color:#00b19d;">Posted by: <%= link_to micropost.user.name, micropost.user,:class => "user-button btn btn-primary", :style => "padding:1px;" %></span><br><br>
          <span class="tag"><mark id="mark"><%= micropost.tag %></mark></span><br>
          

        <span class="content">
           <span><%= image_tag micropost.picture.url, :id => micropost.id, :onclick => "document.getElementById(this.id+1).style.display='block'", :style => "cursor:zoom-in;display: inline-block;position: relative;width:400px;" if micropost.picture? %></span>
           <div id="<%=micropost.id%>1" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom">
             <%= image_tag micropost.picture.url, :style => "width:100%" if micropost.picture? %>
           </div>
            </div>



         <div style="border:1px solid #00b19d; display:inline-block;position:absolute;margin-left: 25px;height: 174px;">
        
             <%if micropost.attachment?%>
              <span data-toggle="tooltip" title="Download <%= micropost.tag%> file!">
                <%= link_to micropost.attachment_url, :class => "download-button btn btn-primary form", :id =>"downloadbutton", :style => "display:block; position: relative; margin:5px;" do%>
                    <i class="glyphicon glyphicon-download-alt" id="icon"></i>    
                <%end%></span>
              <%end%><br>

            <%if micropost.picture?%>
              <span data-toggle="tooltip" title="Download preview!">
                <%= link_to micropost.picture_url, :class => "download-button btn btn-primary form", :id =>"downloadbutton", :style => "display:block; position: relative; margin:5px;" do%>
                    <i class="glyphicon glyphicon-download" id="icon"></i>    
                <%end%></span>
              <%end%><br>

          <% if current_user?(micropost.user) %>
            <span data-toggle="tooltip" title="Delete post!">
            <%= link_to micropost, :class => "download-button btn btn-primary form", :id=>"deletebutton", method: :delete, :style => "margin:5px;",
            data: { confirm: "You sure?" } do%>
             <i class="glyphicon glyphicon-trash"></i>
            <%end%>
          <% end %></span>
        </div>

        <div style="border:1px solid grey; position:relative;display:block; margin-top: 15px;">
          <p style="color:#00b19d;padding:5px;"><%= micropost.content %></p>
        <span class="timestamp">Posted <%= time_ago_in_words(micropost.created_at) %> ago.</span></span>
      </div>
      </li>
    <%end%>


  </ul>

  <%= will_paginate @microposts %>


</div>
</div>


<% else %> 

     <%= render 'layouts/three' %> 

<div class="center jumbotron" style="background: rgba(0, 0, 0, 0);
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 4em;
    width: 100%;
    z-index: 10000;">

 <p>
  Up/Download and preview Autocad, Revit, and Vectorworks passive house details.
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<%= link_to "View Demo", demo_path, class: "btn btn-lg btn-primary" %>
</div>

<% end %>



