<% provide(:title, @user.name) %>


  <header style="background: black;
    height: 5em;
    left: 0;
    line-height: 3em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10000;">
  <div class="container">
   <!--  <%= link_to "passiveHousedetails", root_path, id: "logo" %> -->
    <%= link_to image_tag("logo2.png"),root_path, id: "logo", style: "margin-top:6px;" %>
    <nav>
      
      <ul class="nav navbar-nav navbar-right" style="margin-top: 25px;">
        <li id='menu'><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Users", users_path %></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Account <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <!-- <li><%= link_to "Profile", user_path(current_user) %></li> -->
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>





<div class="row" style="margin-top: 5em;">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @user.name %>
      <p style="font-size: 17px;color:#00b19d;">Posts:  <%= @user.microposts.count %> </p>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
   
      <ul class="microposts" style="list-style-type: none;margin-top: 2em;">
        <%= render @microposts %>
      </ul>
      <%= will_paginate @microposts %>

  </div>
</div>



