</br></br></br>
<div style="border:1px solid #00b19d; padding: 1em;">
<%= form_for(@micropost) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>

  <span class="attachment" style="padding:1em;">
  	<p>Upload AutoCad, Revit or Vectorworks file.</p>
  	<%= f.file_field :attachment, style: "color:#00b19d;border:1px solid black;", accept: '.dgn, .dwf, .dwg, .dst, .dwt, .dxb, .dws, .dxf, .ifc, .sat, .skp, .rvt, .adsk, .cas, .rfa, .rft, .rte, .rvg, .rvt, .slog, .smxx, .dwfx, .gbxm, .ies' %>
  </span>

  <span class="picture" style="padding:1em;">
  	<p>Upload preview (jpg jpeg gif png)</p>
  	<%= f.file_field :picture, style: "color:#00b19d;", accept: 'image/jpeg, image/jpg, image/gif,image/png' %>
  </span>
  
  <div class="field" style="padding:1em;">
    <%= f.text_area :content, placeholder: "Description...", style: 'color:#00b19d; background: rgba(144, 144, 144, 0.25);border:none;' %>
  </div>

	<div class="field">
		<p>Select AutoCad, Revit or Vectorworks.</p>
		<%= f.select(:tag) do %>
		  <% [['AutoCad', 'AutoCad'], ['Revit', 'Revit'], ['Vectorworks', 'Vectorworks']].each do |c| -%>
		    <%= content_tag(:option, c.first, value: c.last) %>
		  <% end %>
		<% end %> 
	</div>



 <%= f.submit "Post", class: "btn btn-primary form" %>
<% end %>

</div>




<script type="text/javascript">
  $('#micropost_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });

  $('#micropost_attachment').bind('change', function() {
    var size_in_megabytes = this.files[0]
    if (size_in_megabytes > 20) {
      alert('Maximum file size is 20MB. Please choose a smaller file.');
    }
  });
</script>