<% provide(:title, "Home") %>

<% if logged_in? %>

<!--  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    	<div class="col-md-8">
      	<h3>Micropost Feed</h3>
      	<%= render 'shared/feed' %>
    	</div>
    </div> --> 

    <div class="row">
    	<aside class="col-md-4">
    		<section class="user_info">
    			<%= render 'shared/user_info' %>
    		</section> 
    		<section class="micropost_form">
    			<%= render 'shared/micropost_form' %>
    		</section>
    	</aside>



    	<div class="col-md-8">
       <span style="margin-left: 40px;"> Filter:

         <%= link_to "All", root_path, :class => "user-button btn btn-primary", :style => "background:#00b19d;color:white;" %>
         <%= link_to "Autocad", autocad_path, :class => "user-button btn btn-primary"%>
         <%= link_to "Revit", revit_path, :class => "user-button btn btn-primary"%>
         <%= link_to "Vectorworks", vectorworks_path, :class => "user-button btn btn-primary"%>

         <%= form_tag(microposts_path, :method => "get", id: "search-form") do %>
          <%= text_field_tag :search, params[:search], placeholder: "type keywords" %>
          <%= submit_tag "Search", :name => nil %>
         <% end %>

       </span>


       <ul class="users" style="margin-top: 1em;">
       		<% if @microposts.blank? %>
  						<h4>There are no posts containing the term <%= params[:search] %>.</h4>
					<% end %>

         <% @microposts.each do |micropost| %>
         <li id="micropost-<%= micropost.id %>">
          <span class="user" style="color:#00b19d;">Posted by: <%= link_to micropost.user.name, micropost.user,:class => "user-button btn btn-primary", :style => "padding:1px;" %></span><br><br>
          <span class="tag"><mark id="mark"><%= micropost.tag %></mark></span><br>
          <span class="content">


           <span><%= image_tag micropost.picture.url, :id => micropost.id, :onclick => "document.getElementById(this.id+1).style.display='block', console.log(this.id+1)", :style => "cursor:zoom-in;display: inline-block;position: relative;width:400px;" if micropost.picture? %></span>

           <div id="<%=micropost.id%>1" class="w3-modal" onclick="this.style.display='none'">
            <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
            <div class="w3-modal-content w3-animate-zoom">

             <%= image_tag micropost.picture.url, :style => "width:100%" if micropost.picture? %>
           </div>
         </div>

         <div style="border:1px solid green; display:inline-block;position:relative;margin-left: 15px;height: 200px;">
          <span><%= link_to "Download Attachment", micropost.attachment_url, :class => "download-button btn btn-primary form", :style => "display:block; position: relative; margin:5px;" if micropost.attachment? %></span><br>
          <% if current_user?(micropost.user) %>
          <%= link_to "Delete Post", micropost, :class => "download-button btn btn-primary form", method: :delete, :style => "margin-left:5px;",
          data: { confirm: "You sure?" } %>
          <% end %>
        </div>

        <div style="border:1px solid grey; position:relative;display:block; margin-top: 15px;">
          <p style="color:#00b19d;padding:5px;"><%= micropost.content %></p>
        </span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(micropost.created_at) %> ago.

        </span>
      </div>
    </li>
    <%end%>


  </ul>

  <%= will_paginate @microposts %>


</div>
</div>


<% else %>

<div style="background: rgba(0, 0, 0, 0.3);">

 <p>
  Up/Download and preview Autocad, Revit, and Vectorworks passive house details.
</p>

<%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
<!--     <a href="#" class="btn btn-lg btn-primary">Sign up now!</a> -->
</div>

<!-- 	<%= link_to image_tag("logo.png", alt: "Logo"),
'http://iliyanganev.com/' %> -->

<% end %>


