<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
  <header  style="background: #ffffff;
  height: 100px;
  left: 0;
  line-height: 3em;
  color: #666666;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  border-bottom:1px solid rgba(136, 136, 136, 0.25);">
 
   <!--  <%= link_to "passiveHousedetails", root_path, id: "logo" %> -->

   <div style="margin-right: 20px;
   margin-left: 70px;
   max-width: 190px;
   fill: #666666;
   position: absolute;
   top: 25%;
   left: 0;border-right: 2px solid black;">
   <%= link_to image_tag("logo5.png"),root_path, id: "logo", style: "margin-top:0px;" %>
 </div>
 <nav>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 70px">
    <li id='menu'><%= link_to "Home", root_path %></li>
    <li><%= link_to "Help", help_path %></li>
    <% if logged_in? %>
    <li><%= link_to "Users", users_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", current_user %></li>
        <!-- <li><%= link_to "Profile", user_path(current_user) %></li> -->
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
      </ul>
    </li>
    <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</nav>

</header>