<!-- <header class="navbar navbar-fixed-top navbar-inverse"> -->
  <header  style="background: #ffffff;
  height: 100px;
  left: 0;
  line-height: 3em;
  color: #666666;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100000;
  border-bottom:1px solid rgba(136, 136, 136, 0.25);">
 
   <!--  <%= link_to "passiveHousedetails", root_path, id: "logo" %> -->

   <div style="margin-right: 20px;
   margin-left: 70px;
   max-width: 190px;
   fill: #666666;
   position: absolute;
   top: 25%;
   left: 0;border-right: 2px solid black;">
   <%= link_to image_tag("logo6.png"),root_path, id: "logo", style: "margin-top:0px;" %>
 </div>

 <div style="margin-right: 20px;background-color:red;">

 </div>

<!--  <div style="position: absolute;margin-left: 500px;margin-top:27px;>

          <%= form_tag(microposts_path, :method => "get",  :style => "display:inline-block;") do %>
           <%= button_tag :type=>"submit", :name => nil, :class => "user-button btn btn-primary", :style => "display:inline;width:40px;height:30px;margin-right: 3em;" do%>
            <i class="glyphicon glyphicon-search"></i>
            <%= text_field_tag :search, params[:search], placeholder: "...",:style => "display:inline;width:5em;border:1px solid white;margin-left:1em;" %>
         
          <%end%>
         <% end %>  
 </div>  --> 

 <nav>

  <ul class="nav navbar-nav navbar-right" style="margin-right: 70px">
  <!--   <li id='menu'><%= link_to "Home", root_path %></li> -->
    <li><%= link_to "About", about_path %></li>
    <% if logged_in? %>
    <li><%= link_to "Users", users_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Account <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <li><%= link_to "Profile", current_user %></li>
        <!-- <li><%= link_to "Profile", user_path(current_user) %></li> -->
        <li><%= link_to "Settings", edit_user_path(current_user) %></li>
        <li class="divider"></li>
        <li>
          <%= link_to "Log out", logout_path, method: :delete %>
        </li>
      </ul>
    </li>
    <% else %>
    <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</nav>

</header>